@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue";
}

body {
    background-color: #00100B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 350px;
    padding: .5em;
    background-color: #00100B;
    color: #e9e7ea;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #14BDEB;
    margin-top: -1.7em;
    opacity: .8;
}

#calc:hover{
    opacity: 1;
}
#calc h3 {
    font-family: .8em;
    font-weight: 300;
    color: #e9e9e9;
}

#operations {
    text-align: right;
}

#previous-operation,
#current-operation {
    overflow-wrap: break-word;
    padding: .2em;
    min-height: 1.8em;
}

/* area de exibicao */
#previous-operation {
    color: #e9e7ea;
    font-size: 1.2em;
    
}

#current-operation {
    border: 1px solid #14BDEB;
    font-size: 3em;
    font-weight: 700;
    border-radius: 5px;
}

/* organização da nossa div que contém os elementos */
#buttons-container {
    /* realizando  a estruturação da nossa caixa */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* 4 colunas iguais */
    gap: 3px;
    margin-top: .4em;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #00100B;
    cursor: pointer;
    border-color: #14BDEB;
    color: #e9e7ea;
    border-radius: 5px;

}

#buttons-container .number {
}

#buttons-container button:hover {
    border-color: #14bdeb;
    transition: all linear .5s;
    box-shadow: 0px 0px 10px #14BDEB;
}

#buttons-container #equal-btn{
    grid-column: span 2;
}

#buttons-container #equal-btn:hover{
    transition: all linear .5s;
    border-color: #14BDEB;
    transition: all linear .5s;
}