* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #010409;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-family: .8em;
    font-weight: 300;
    color: #666;
}

#operations {
    text-align: right;
}

#previous-operation,
#current-operation {
    overflow-wrap: break-word;
    padding: .2em;
    min-height: 1.6em;
}


#previous-operation {
    color: #777;
}

#current-operation {
    font-size: 3em;
    font-weight: 700;
}

/* organização da nossa div que contém os elementos */
#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}